<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		<h1>{{> header}}</h1>
		<p>This is the Help page of the site.</p>
		{{> footer}}
	</body>
</html>